.color {
	display:inline-block;
	height:1em;
	width:1em;
}
img {
	border:0 !important;
	background-color: transparent !important;
	box-shadow: none !important;
}
button {
	font-size: 30px;
	
	margin-bottom: 10px;
}
button img {
		margin: 0!important;
	}